@model IEnumerable<SimpleMessenger.Models.User>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Имя Фамилия
            </th>
            <th>
                Email
            </th>
            <th>Написать</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID"> @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Write" asp-route-id="@item.ID">Написать</a>
            </td>
        </tr>
}
    </tbody>
</table>
